@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    box-sizing: border-box;
}

.truncate {
    font-size: 14px;
    white-space: nowrap;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* Profile */
.profile_container {
display: flex;
align-items: center;
}
.img_container {
position: relative;
margin-right: 20px;
}
.img_container img {
width: 100px;
height: 100px;
border-radius: 50%;
border: 1px solid var(--color-4);
transition: 0.5s ease-in-out all;
}
.img_container:hover img {
opacity: 0.4;
}
.img_container:hover .overlay {
opacity: 1;
}
.overlay {
transition: 0.5s ease;
opacity: 0;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
text-align: center;
}
.text_container {
flex-grow: 1;
}
.text_container h3 {
text-align: left;
}

.message_form {
width: 100%;
display: flex;
align-items: center;
justify-content: center;
background-color: red;
}

.myMessages {
    height: calc(100vh - 264px);
    overflow-y: auto;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.myProfile {
    height: 100px;
}
.myForm {
    height: 100px;
}
.unread {
margin-left: 10px;
background: var(--color-3);
color: white;
padding: 2px 4px;
border-radius: 10px;
}
.sm_screen {
display: none;
}
@media screen and (max-width: 767px) {
    .home_container {
        grid-template-columns: 2fr 3fr;
    }
    .message_form {
        left: 3%;
        right: 0;
        bottom: 5px;
    }
    .message_wrapper p {
        max-width: 75%;
    }
}

@media screen and (max-width: 576px) {
    .home_container {
        grid-template-columns: 1fr 5fr;
    }
    .user_wrapper {
        display: none;
    }
    .sm_container {
        padding: 10px 0px;
        text-align: center;
        cursor: pointer;
    }
    .sm_screen {
        display: inline-block;
    }
    .message_form input {
        width: 50vw;
        margin: 0px 10px;
    }
    .message_form .btn {
        margin: 0px;
    }

    .message_wrapper p {
        max-width: 100%;
    }
    .messages_user_picture {
        display: none;
    }
}